* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#canvas {
    position: absolute;
}
.controls {
    position: absolute;
    z-index: 100;
}

img {
    display: none;
}
button {
    padding: 10px;
    margin: 20px;
    font-size: 30px;
    background: white;
    color: black;
    border: none;
    border-radius: 14px;
    transition: 0.2s;
}
button:hover {
    background: black;
    color: white;
}